<h2>Your investments</h2>


<% @investments.each do |investment| %>
  <%= render 'investment', :investment => investment, :detailed => false %>
<% end %>

<br />

<%= link_to 'New investment', new_investment_path %>